body {
    background-color: lightblue;
    
}
#player_1 {
    background-color: white;
    width: 40%;
    margin-left:22px;
}

#player_2 {
    background-color: white;
    width: 40%;
    margin-left: 22px;
}
#button {
    background-color:   royalblue ;
    width: 200px;
}
#player1_name , #player1_score , #player2_name , #player2_score{ 
 text-align: left;
}

#label {
    color: red;
}
#send {
    background-color:   royalblue ;
    width: 200px; 
}
#output {  
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
width: 1000px;
}
#player_1 , #player_2 {
    background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
}
#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#h {
    color: white;
}
#word
{
	width: 60%;
    border-radius: 5px;
    border-color: whitesmoke;
    width: 500px;
    height: 31px;
}